name: Build Flutter APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true
      DART_VM_OPTIONS: --disable-dart-dev-file-watcher
      GRADLE_OPTS: -Dorg.gradle.daemon=false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.7
          channel: stable

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Get dependencies
        run: flutter pub get

      - name: Clean project
        run: flutter clean

      - name: Build release APK
        run: flutter build apk --release

      - name: Verify APK exists
        run: ls -R build/app/outputs/flutter-apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
