name: Flutter APK Builder

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.7'

      - name: Install dependencies
        run: flutter pub get

      - name: Clean previous builds
        run: flutter clean

      - name: Pre-cache Flutter artifacts
        run: flutter precache

      - name: Build release APK
        run: flutter build apk --release

      - name: List APK files
        run: find build/app/outputs -name "*.apk" -type f

      - name: Upload APK artifacts
        uses: actions/upload-artifact@v4
        with:
          name: flutter-apk
          path: build/app/outputs/**/*.apk
