name: Flutter Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'

      - name: Flutter Doctor
        run: flutter doctor

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: |
          flutter clean
          flutter build apk --release --split-debug-info=build/debug-info

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FoodGardenApp-APK
          path: build/app/outputs/flutter-apk/app-release.apk
