name: Flutter APK Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.7'

      - name: Get Flutter packages
        run: flutter pub get

      - name: Clean project
        run: flutter clean

      - name: Precache Flutter
        run: flutter precache

      - name: Build APK (Release)
        run: flutter build apk --release
        working-directory: ./

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: build/app/outputs/flutter-apk/app-release.apk
